<!DOCTYPE html>
<html th:replace="~{layouts/app:: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>注册-WeiboApp</title>
</head>
<body>
<section>
  <div class="offset-md-2 col-md-8">
    <div class="card ">
      <div class="card-header">
        <h5>注册</h5>
      </div>
      <div class="card-body">
        <form action="@{/register}" method="POST" th:object="">

          <div class="mb-3">
            <label for="">名称：</label>
            <input class="form-control" name="name" type="text" value="">
          </div>

          <div class="mb-3">
            <label for="">邮箱：</label>
            <input class="form-control" name="email" type="text" value="">
          </div>

          <div class="mb-3">
            <label for="">密码：</label>
            <input class="form-control" name="password" type="password" value="">
          </div>

          <div class="mb-3">
            <label for="">确认密码：</label>
            <input class="form-control" name="password_confirmation" type="password" value="">
          </div>

          <button class="btn btn-primary" type="submit">注册</button>
        </form>
      </div>
    </div>
  </div>
</section>
</body>
</html>
